[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

tensorflow = "*"
numpy = "*"
scipy = "*"
tensorboard = "*"
"boto3" = "*"
daiquiri = "*"
flask = "*"


[dev-packages]



[requires]

python_version = "3.4"
