boto3
daiquiri
flask
gevent
pandas
numpy
scipy
gunicorn
raven[flask]
markupsafe
h5py
tensorflow==2.0.0
git+https://github.com/fabric8-analytics/fabric8-analytics-rudra.git@98f5d8f6e402dfed3b9ba9385040eacbb0a12bc3#egg=rudra